
.link {
	color: black;
	text-decoration: none;
}

.tours-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	align-items: center;
	i {
		color: black;
	}
}

.tours_header_nav {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	background-color: $green;	
	box-shadow: 0px 4px 4px black;
	margin-bottom: 10px;
	.link {
		color: white;
	}
}

.logo, .fa-user-circle:before {
	margin: 0;
	color: $green;
}

.tour-span {
	font-variant-caps: all-petite-caps;
}

