.account-header {
	@extend %green-header;
	margin-bottom: 20px;
}

.login-form, .register-form {
	@extend %flex-center;
	padding-right: 30px;
}

.login-buttons {
	display: flex;
}

.inputs {
	margin: 10px;
	display: flex;
	justify-content: flex-end;
	width: 260px;
	input {
		border: thin solid $green;
		border-radius: 50px;
		height: 20px;
		width: 100px;
		margin-left: 10px;
		padding: 0 10px;
	}
	label {
		color: $green;
	}
}

.profile {
	@extend %flex-center;
	h4, p {
		text-align: center;
	}
}

.profile-pic {
	overflow: hidden;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
