.recordButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.audio-controls {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recording {
	background-color: red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;	
	animation-name: recording;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transition: ease-in-out;
}

.hide {
	display: none;
}



@keyframes recording {
	0% {
		width: 31px;
		height: 31px;
		transition: ease-out;
	} 50% {
		width: 54px;
		height: 54px;
		transition-delay: 0;
	} 100% {
		width: 31px;
		height: 31px;
		transition: ease-in;
	}
}