$yellow: #EEB800;
$blue: #12135A;
$green: #04381C;

%green-header {
  background-color: $green;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

@import './components/tours/toursHeader/toursHeader';
@import './components/tours/tour/tour';
@import './components/tours/localTours/localTours';
@import './components/createTour/createTour';
@import './components/createTour/editor/tourView';
@import './components/createTour/workbench/workbench';

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: $blue;
  color: #ffff;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  padding: 4px 5px;
  font-variant-caps: all-petite-caps;
  display: flex;
  align-items: center;
}

.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
}